footer.footer
  .footer__logo.w3-responsive
    img(src='/img/logo-green.png' lat='Natour logo')
  .w3-bar
    li.w3-bar-item(style=' padding:0px'): a.w3-button.w3-hover-green(href='#' )  About us  
    li.w3-bar-item(style=' padding:0px'): a.w3-button.w3-hover-green(href='#' )  Download Apps
    li.w3-bar-item(style=' padding:0px'): a.w3-button.w3-hover-green(href='#' )  Become a guide
    li.w3-bar-item(style=' padding:0px'): a.w3-button.w3-hover-green(href='#' )  Careers
    li.w3-bar-item(style=' padding:0px'): a.w3-button.w3-hover-green(href='#' )  Contact 
  p.footer__copyright &copy; by Maamaa Victor.